<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./github-markdown.css">
</head>

<body class="markdown-body">
    <div class="container">
        {0}
    </div>
    <style>
        {1}
        body {
            font-family: "微軟正黑體" !important;
        }

        .container {
            width: 100%;
            margin: 0 auto;
            text-align: left;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: center;
        }
    </style>
</body>

</html>